<h2>Edit Profile</h2>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, novalidate: true }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label "ユーザー名" %><br />
    <%= f.email_field :username, autofocus: true, autocomplete: "username" ,class:"form-control"%>
  </div>

  <div class="field">
    <%= f.label "プロフィール" %><br />
    <%= f.email_field :profile, autofocus: true, autocomplete: "profile" ,class:"form-control"%>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:"form-control"%>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(変更しない場合は入力しないでください)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" ,class:"form-control"%>
    <% if @minimum_password_length %>
      <br />
      (<%= @minimum_password_length %> 文字以上)
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(プロフィールの変更に必要です)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class:"btn btn-primary" %>
  </div>
<% end %>

<h3>アカウントを削除</h3>

<p><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, class:"btn btn-danger", method: :delete %></p>

<%= link_to "Back", :back %>
</div>
</div>
