    <li>
    <% unless user.image.nil? %>
    <img src= <%= user.image %> class="icon">
    <%else%>
    <%= image_tag('/assets/nonicon.png', class:"icon") %>
    <% end %>
    <%= link_to user.username, user %>
    </li>
