<% provide(:title, @user.username) %>
<header class="site-header flex user-show">
  <ul class="list-inline">
    <li class="list-inline-item">
      <% unless @user.image.nil? %>
      <img src= <%= @user.image %> class="icon">
      <%else%>
      <%= image_tag('/assets/nonicon.png', class:"icon") %>
      <% end %>
    </li>
    <li class="list-inline-item"><h3><%= @user.username %></h3></li>
    <li class="list-inline-item"><h2><%= @user.profile %></h2></li>
    <li class="list-inline-item"><%= pluralize(@user.microposts.count, "record") %></li>
</header>
<div class="feed-page">
  <% if @user.microposts.any? %>
    <div class="flex-box">
    <ol class="microposts list-inline">
    <%= render @microposts %>
    </ol>
    </div>
    <%= will_paginate @microposts %>
  <% end %>
</div>
