<header class="site-header flex flex--bet">
    <!--ユーザー情報部分-->
      <ul class="list-inline">
    <%= render 'shared/user_image' %>
    <li class="list-inline-item"><h2><%= link_to current_user.username, current_user %></h2></li>
    <!--投稿フォーム部分-->
    <li class="list-inline-item">
    <%= form_for(@micropost,:html => {:class => "form-inline"}) do |f| %>
      <%#= render 'shared/error_messages', object: f.object %><!--エラーメッセージ-->
      <%= f.label :artistname, class: "sr-only" %>
      <div class="form-group">
      <%= f.text_field :artistname, placeholder: "Artist Name", class:"form-control mb-2 mr-sm-2" %>
      </div>
      <%= f.label :albumtitle , class: "sr-only" %>
      <div class="form-group">
      <%= f.text_field :albumtitle, placeholder: "Album Title", class:"form-control mb-2 mr-sm-2" %>
      </div>
      <%= f.submit "Search", class:"header_btn btn btn-primary btn-xs" %>
      <!--<h2>アルバム検索結果</h2>ここに検索結果を表示させたい-->
      <!--<div id='list'>
        <%#= render 'search/search' %>
      </div>-->
      <%= f.label :content , class: "sr-only" %>
      <div class="form-group">
      <%= f.text_field :content, placeholder: "Choose your mood",class:"form-control mb-2 mr-sm-2"%>
      </div>
      <%= f.submit "Post", class:"btn btn-primary header_btn btn-xs" %>
      <% end %>
      </div>
      </li>
      </li>
</header>
