<div class="feed-page">
<% if @feed_items.any? %>
 <div class="flex-box">
  <ol class="microposts list-inline">
    <%= render @feed_items %>
  </ol>
 </div>
  <%= will_paginate @feed_items %>
<%end %>
</div>
