<!--ajaxを使わずレンダリングでアルバムの検索結果を表示させようとしたフォーム部分-->
<%= form_tag('/search', method: :get) do %>
        <%= text_field_tag :search, "",  id: "itunes_search", name: "artistname", placeholder: "artistname"%>
        <%= text_field_tag :search, "",  id: "itunes_search", name: "albumtitle", placeholder: "albumtitle"%>
        <%= submit_tag("Search") %>
    <% end %>
    <div id="searchresult">
    <%= render 'itunessearch/search' %>
    </div>

<!--以下、本来の投稿部分-->
<%= form_for(@micropost) do |f| %>
  <%#= render 'shared/error_messages', object: f.object %>
  <%= f.label :artistname %>
  <%= f.text_field :artistname, placeholder: "Artist Name" %>
  <%= f.label :albumtitle %>
  <%= f.text_field :albumtitle, placeholder: "Album Title" %>
  <%= f.submit "Search", class:"btn btn-primary" %>
  <h2>アルバム検索結果</h2><!--ここに検索結果を表示させたい-->
  <div id='list'>
    <%#= render 'search/search' %>
  </div>
  <%= f.label :content %>
  <%= f.text_field :content, placeholder: "Choose your mood" %>
  <%= f.submit "Post", class:"btn btn-primary" %>
  <% end %>
