<%- if controller_name = 'pages' %>
  <% unless current_user.image.nil? %>
    <li class="list-inline-item"><img src= <%= current_user.image %> class="icon"></li>
  <%else%>
    <li class="list-inline-item"><%= image_tag('/assets/nonicon.png' ,class: 'icon') %></li>
  <% end %>
<% end %>
