<% provide(:title, "Log in") %>
<!DOCTYPE html>
<html>
  <head>
  </head>
 <style>
  body{
      background-image: url(<%= image_path("emojirecords_background.jpg") %>);
      background-position: 0 -35px;
      background-repeat: no-repeat;
    }
  </style>

<body class="login" >
<h1>Hi, how do you feel?</h1>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <%= f.label :email ,class:'label'%><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email",class:'form-control' %>

        <%= f.label :password ,class:'label'%>
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "(Forgot your password?)", new_password_path(resource_name) %><br />
          <% end %>
        <%= f.password_field :password, autocomplete: "current-password" ,class:'form-control' %>

        <% if devise_mapping.rememberable? %>
          <div class="checkbox">
            <%= f.label :remember_me, class:"checkbox inline" do %>
            <%= f.check_box :remember_me%><span>Remember me on this computer</span>
          </div>
        <% end %>

        <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-primary" %>
      </div>
      <br>
      <!--かんたんログイン-->
      <%#= link_to 'かんたんログイン', welcome_guest_path, method: :post, class:"btn btn-lg btn-success center-block" %>
      <%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |t| %>
        <%#= t.hidden_field :email, value: "test@test.com" %>
        <%#= t.hidden_field :password, value: "password" %>
        <%#= t.submit "Log in as Guest User", class:"btn btn-success center-block"%>
      <%# end %>
    <% end %>

        <%= render '/devise/shared/links' %>
  </div>
</div>

</body>
</html>
