<li class="list-inline-item micropost" id = "micropost-<%= micropost.id %>">
    <!--<span class="icon">
    <%# unless @user.image.nil? %>
    <img src= <%#= @user.image %>>
    <%#else%>
    <%#= image_tag('/assets/nonicon.png') %>
    <%# end %>
    </span>-->
    <ul class="list-inline">
    <li class="list-inline-item">
    <%= link_to micropost_path(micropost.id), remote: true, class: "modal-open" do%>
      <img src=<%= micropost.artworkimg %> class="artwork">
    <% end %>
    <div id="micropost-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
    </li>
    <li class="list-inline-item">
    <p class="content"><%= micropost.content %></p>
    </li>
    </ul>
</li>
