<div class="modal-dialog">
  <div class="modal-content">
   <ul class="list-inline">
    <li class="list-inline-item">
    <img src=<%= @micropost.artworkimg %> class="artwork">
    </li>
    <li class="list-inline-item">
    <h2><%= @micropost.artistname %></h2>
    <h3><%= @micropost.albumtitle %></h3>
    <h2><%= @micropost.content %></h2>
    </li>
    </ul>
  </div>
</div>
