<% if @results.present? %>
  <% @results.each do |s| %>
    <div class="list">
      <%= s.artistname %>
      <%= s.albumtitle %>
      <%= s.artworkimg %>
    </div>
  <% end %>
  <%= @result %>
<% end %>
