
  <%= form_tag('/search', method: :get) do %>
    <div class="field">
      <%= text_field_tag :search, "",  id: "itunes_search", name: "keyword", placeholder: "キーワードを打ち込んでください", style: "width: 200px;"%>
        <%= text_field_tag :search, "",  id: "itunes_search", name: "artistname", placeholder: "artistname"%>
        <%= text_field_tag :search, "",  id: "itunes_search", name: "albumtitle", placeholder: "albumtitle"%>
        <%= submit_tag("Search") %>
    <% end %>
<%= render 'itunessearch/search' %>
