<header class="navbar navbar-fixed-top navbar-inverse　navbar-expand-sm">
  <div class="container">
    <% if user_signed_in? %>
    <%= link_to "EmojiRecords", index_path, id:"logo" %>
    <% else %>
    <%= link_to "EmojiRecords", root_path, id:"logo" %>
    <% end %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
                 <li><%= link_to "Home", index_path %></li>
                 <li><%= link_to "Users", users_path %></li>
                 <li class="dropdown">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                     Account <b class="caret"></b>
                   </a>
                   <ul class="dropdown-menu">
                     <li><%= link_to "Profile", current_user %></li>
                     <% if current_user != User.find_by(email:"test@test.com") %>
                     <li><%= link_to "Settings", edit_user_registration_path %></li>
                     <% end %>
                     <li class="divider"></li>
                     <li>
                       <%= link_to "Log out", logout_path, method: :delete %>
                     </li>
                   </ul>
                 </li>
               <% else %>
                 <li><%= link_to "Home", root_path %></li>
                 <li><%= link_to "About", '#' %></li>
                 <li><%= link_to "Log in", login_path %></li>
               <% end %>
        </ul>
      </nav>
    </div>
  </header>
